<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>ToDo-list | Dashboard</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<!-- jQuery library -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link href="{{url_for('static', filename='css/site.css')}}" rel='stylesheet' type='text/css' />
	<script type="text/javascript" src="{{url_for('static', filename='js/site.js')}}"></script>
	<!-- Angular JS -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	 <script>
		$(function() {
			$( "#datepicker" ).datepicker();
		});
		console.log("{{test}}");
	</script>
</head>
<body>
 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
	  <a class="navbar-brand" href="">ToDo List</a>
	</div>
	<div>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href=""><span class="glyphicon glyphicon-user"></span> {{ email_id.split('@')[0] }}</a></li>
		<li><a href="{{ url_for('LoginView:logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
	  </ul>
	</div>
  </div>
 </nav>  <!-- navigation bar ends-->

<div class="container">
	<div class="jumbotron">
		<div class="login-form">
			<form method="POST">
				<p class="form-inline">
					<input type="text" name="new_task_name" placeholder="New task name" class="form-control">
					<input id="datepicker" type="text" name="end_date" placeholder="02/14/2015" class="form-control">
				</p>
				<p class="form-group">
					<textarea name="desc" rows="3" cols="43" class="form-control" placeholder="Description..."></textarea>
				</p>
				<p class="form-group">
					<input type="submit" name="new_task" class="btn btn-primary" value="Create Task">
				</p>
			</form>
			{%if error %}
				<p id="task-response" style="color:red">{{error}}</p>
			{% elif message %}
				<p id="task-response" style="color:green">{{message}}</p>
			{% endif%}
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 btn" id="dashboard-task"><h4>Your tasks</div>
		<div class="col-sm-6 btn" id="shared-task"><h4>Shared tasks</div>
	</div>
	<div class="dashboard-task" >
		<table class="table table-hover">
		    <thead> <tr> <th>Task</th> <th>Start date</th> <th>Due date</th> <th class="center">Delete</th> <th>Desc</th> </tr> </thead>
		    <tbody>
		    {% if task_data%}
		    	<form method="POST">
			    {% for task in task_data %}
			    	<tr><td>{{ task.task_name }}</td>
			    	<td>{{ task.start_date }}</td>
			    	<td>{{ task.end_date }}</td>
			    	<td class="center"><input type="checkbox" value="{{task.id}}" name="mark_task"></td>
			    	<td>{{ task.description }}</td></tr>
			    {% endfor %}
			    <tr> <td class="center" colspan="5">
					 <input type="submit" name="delete_task" class="btn btn-warning" value="Delete Task">
					</td></tr>
			    </form>
			{% else %}
				<tr> <td class="center" colspan="5">--- No task created ---</td></tr>
			{% endif %}
		    </tbody>
	    </table>
	</div>

	<div class="shared-task" >
		{% if task_data%}
			<div class="col-sm-12">
				<div id="share-task" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-share"></span>&nbsp;Share task
				</div>
			</div>
		{% endif %}
		<div class="col-sm-12">
			<table class="table table-hover">
				    <thead> <tr> <th>Shared by</th> <th>Task</th> <th>Start date</th> <th>Due date</th> <th>Desc</th> </tr> </thead>
				    <tbody>
				    	<tr> <td class="center" colspan="5">--- No task shared to you ---</td></tr>
				    </tbody>
			</table>
		</div>

	</div>

</div>

</body>
</html>
